
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDistritosLabel">Create or edit a Distritos</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.distritos.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.distritos.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_num_distrito">Num Distrito</label>
            <input type="number" class="form-control" name="num_distrito" id="field_num_distrito"
                    ng-model="vm.distritos.num_distrito"
                    required/>
            <div ng-show="editForm.num_distrito.$invalid">
                <p class="help-block"
                    ng-show="editForm.num_distrito.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.num_distrito.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nom_distrito">Nom Distrito</label>
            <input type="text" class="form-control" name="nom_distrito" id="field_nom_distrito"
                    ng-model="vm.distritos.nom_distrito"
                    required/>
            <div ng-show="editForm.nom_distrito.$invalid">
                <p class="help-block"
                    ng-show="editForm.nom_distrito.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_total_actas_distrito">Total Actas Distrito</label>
            <input type="number" class="form-control" name="total_actas_distrito" id="field_total_actas_distrito"
                    ng-model="vm.distritos.total_actas_distrito"
                    required/>
            <div ng-show="editForm.total_actas_distrito.$invalid">
                <p class="help-block"
                    ng-show="editForm.total_actas_distrito.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.total_actas_distrito.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lista_nominal_distrito">Lista Nominal Distrito</label>
            <input type="number" class="form-control" name="lista_nominal_distrito" id="field_lista_nominal_distrito"
                    ng-model="vm.distritos.lista_nominal_distrito"
                    required/>
            <div ng-show="editForm.lista_nominal_distrito.$invalid">
                <p class="help-block"
                    ng-show="editForm.lista_nominal_distrito.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lista_nominal_distrito.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_actas_procesadas">Actas Procesadas</label>
            <input type="number" class="form-control" name="actas_procesadas" id="field_actas_procesadas"
                    ng-model="vm.distritos.actas_procesadas"
                    required/>
            <div ng-show="editForm.actas_procesadas.$invalid">
                <p class="help-block"
                    ng-show="editForm.actas_procesadas.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.actas_procesadas.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_porc_actas_procesadas">Porc Actas Procesadas</label>
            <input type="number" class="form-control" name="porc_actas_procesadas" id="field_porc_actas_procesadas"
                    ng-model="vm.distritos.porc_actas_procesadas"
                    required/>
            <div ng-show="editForm.porc_actas_procesadas.$invalid">
                <p class="help-block"
                    ng-show="editForm.porc_actas_procesadas.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.porc_actas_procesadas.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_total_votos">Total Votos</label>
            <input type="number" class="form-control" name="total_votos" id="field_total_votos"
                    ng-model="vm.distritos.total_votos"
                    required/>
            <div ng-show="editForm.total_votos.$invalid">
                <p class="help-block"
                    ng-show="editForm.total_votos.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.total_votos.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_porc_participacion">Porc Participacion</label>
            <input type="number" class="form-control" name="porc_participacion" id="field_porc_participacion"
                    ng-model="vm.distritos.porc_participacion"
                    required/>
            <div ng-show="editForm.porc_participacion.$invalid">
                <p class="help-block"
                    ng-show="editForm.porc_participacion.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.porc_participacion.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_actas_correctas">Actas Correctas</label>
            <input type="number" class="form-control" name="actas_correctas" id="field_actas_correctas"
                    ng-model="vm.distritos.actas_correctas"
                    required/>
            <div ng-show="editForm.actas_correctas.$invalid">
                <p class="help-block"
                    ng-show="editForm.actas_correctas.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.actas_correctas.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_actas_digitalizadas">Actas Digitalizadas</label>
            <input type="number" class="form-control" name="actas_digitalizadas" id="field_actas_digitalizadas"
                    ng-model="vm.distritos.actas_digitalizadas"
                    required/>
            <div ng-show="editForm.actas_digitalizadas.$invalid">
                <p class="help-block"
                    ng-show="editForm.actas_digitalizadas.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.actas_digitalizadas.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_actas_acopiadas">Actas Acopiadas</label>
            <input type="number" class="form-control" name="actas_acopiadas" id="field_actas_acopiadas"
                    ng-model="vm.distritos.actas_acopiadas"
                    required/>
            <div ng-show="editForm.actas_acopiadas.$invalid">
                <p class="help-block"
                    ng-show="editForm.actas_acopiadas.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.actas_acopiadas.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_total_votantes">Total Votantes</label>
            <input type="number" class="form-control" name="total_votantes" id="field_total_votantes"
                    ng-model="vm.distritos.total_votantes"
                    required/>
            <div ng-show="editForm.total_votantes.$invalid">
                <p class="help-block"
                    ng-show="editForm.total_votantes.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.total_votantes.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_total_sobrantes">Total Sobrantes</label>
            <input type="number" class="form-control" name="total_sobrantes" id="field_total_sobrantes"
                    ng-model="vm.distritos.total_sobrantes"
                    required/>
            <div ng-show="editForm.total_sobrantes.$invalid">
                <p class="help-block"
                    ng-show="editForm.total_sobrantes.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.total_sobrantes.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_votos_sacados_urna">Votos Sacados Urna</label>
            <input type="number" class="form-control" name="votos_sacados_urna" id="field_votos_sacados_urna"
                    ng-model="vm.distritos.votos_sacados_urna"
                    required/>
            <div ng-show="editForm.votos_sacados_urna.$invalid">
                <p class="help-block"
                    ng-show="editForm.votos_sacados_urna.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.votos_sacados_urna.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
